table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}

h1{
    color: blueviolet;
    text-align: center;
}

table th, table td{
    border: 1px solid blueviolet;
    padding: 10px;
    min-height: 160px;
}

img{
    width: 100px;
    height: 100px;
}
.adjust-update-link{
    margin-left: 10px;
}