<div class="update-product">
    <h1>Update Product</h1>
    <p class="massage-p">{{productUpdateMassage}}</p>
    
    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
        <input class="form-input" type="text" ngModel="{{productData?.name}}" name="name" placeholder="enter Product Name" />
        <input class="form-input" type="text" ngModel="{{productData?.price}}" name="price" placeholder="enter Product Price" />
        <input class="form-input" type="text" ngModel="{{productData?.color}}" name="color" placeholder="enter Product Color" />
        <input class="form-input" type="text" ngModel="{{productData?.category}}" name="category" placeholder="enter Product Category" />
        <textarea class="form-input" type="text" ngModel="{{productData?.description}}" name="description" placeholder="enter Product Description" ></textarea>
        <input class="form-input" type="text" ngModel="{{productData?.image}}" name="image" placeholder="enter Product Image Url" />
        <button class="form-button">Update Product</button>
    </form>
</div>